@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/panels";
@import "compass/css3";

.flashcards {
    height: 380px;
    margin-bottom: 380px;
    display: none;

    .arrow {
        font-size: 4em;
        color: darken(#f2f2f2, 12%);
        line-height: 460%;
    }

    .flow:hover {
        @include opacity(0.6);
    }

    .flashcard-content {
        height: 100%;
        overflow: auto;
    }

    .flashcard-definition {
        display: none;
    }

    .definitions {
        line-height: 1.6em;
        font-size: 1.3em;
        text-align: left;
        padding-left: 30%;
    }
}