@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/buttons";
@import "compass/css3";

$word_color: #fffec2;

i {
  font-style: normal;
}

#content {
  text-indent: 3%;
}

.word {
  &:hover {
    background-color: $word_color;
  };
}

.active {
    background-color: $word_color;
}

.opaque {
    @include opacity(0);
}

.popover-title {
    .foundicon-speaker {
        margin-left: 10px;
    }
}

.languages-row {
  line-height: 45px;
}

.languages-title {
  color: white;
  font-size: 0.8125em;
  font-weight: bold;
  padding-right: 10px;
}

form.languages {
  margin-left: 16px;
  font-size: 0.8em;

  label {
    color: white;
    display: inline;
    padding-right: 3px;
  }
}

.wordsmissed {
  font-size: 1.6em;
}

.copy {
  font-size: 0.9em;
}

.copy-mini {
  font-size: 0.7em;
}

.new {
  background: $primary-color !important;
}

/* This controls padding around the buttons. Use a variable or em value */
$padding: $button-lrg;

/* This controls button color. Set to one of our variables or a custom hex value */
$bg: #ffb732;

/* This controls button radius. Set to a variable, true/false, or custom px value */
$radius: false;

/* This whether button is full-width. Set to true or false */
$full-width: true;

/* This controls whether disabled styles are used. Set to true or false */
$disabled: false;

/* This controls padding for inputs, they are a little different */
$is-input: false;

.button-read {
    @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
}