@import "compass/css3";

.definitions {
    text-indent: 0;

    .POS {
        margin-left: 3px;
        font-style: italic;
        font-size: 0.7em;
    }

    hr {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .sense {
        font-size: 0.9em;
        margin-left: 10px;
    }
}